{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div>
        {% if name is defined %}
            <h1>
                Demandes de contact récentes : {{ contact | length }}
            </h1>
        {% endif %}

        <ul>
            {% for contact in contact %}
                <li><a href="{{path('random', {id: contact.id}) }}">La personne {{ contact.nom }} {{ contact.prenom }} souhaite prendre contact avec vous.</a></li>
            {% endfor %}
        </ul>

        {% if city is defined and city is not empty %}
            <p>
                Vous êtes sur la ville de {{ city }}
            </p>
        {% endif %}
        {{ form(form) }}
    </div>
{% endblock %}